:root {
    color-scheme: light dark;
}

[data-theme="dark"] {
    --bg-color: black;
    --text-color: white;
}

@media (prefers-color-scheme: light) {
    .element {
        color: black;
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .element {
        color: white;
        background-color: black;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.profile-pic {
    max-width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 12px;
  }

body {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 576px) {
    body {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 2rem;
    }
}

summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

details[open] {
    margin-bottom: 0.5em;
}

/* Light/Dark mode switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}